{% extends 'base_layout.html' %}

{% block content %}
<h1>Login</h1>

<form class="site-form" action="{% url 'accounts:login' %}" method="post" style="padding-left: 1%">
    {% csrf_token %}
    {{form}}
    {% if request.GET.next%}
        <input type="hidden" name="next" value="{{request.GET.next}}">
    {% endif %}
    <input class="btn btn-default" type="submit" value="Login">
</form>
<form class="create-link" action="{% url 'accounts:signup' %}" method="post" style="padding-top: 2%; padding-left: 7%">
    {% csrf_token %}
    <button class="btn btn-default" type="submit">Register an account</button>
</form>
{% endblock %}