{% extends 'base_layout.html' %}

{% block content %}
<div class="schedule-detail">
    <div class="schedule" style="margin-left: 5%">
        <h2> Job: {{schedule.job}} </h2>
        <p>Action ID: {{schedule.action_id}}</p>
        <p>Description: {{schedule.description}}</p>
        <p>Created at: {{schedule.started}}</p>
        <p>Cron Schedule: {{schedule.scheduled}}</p>
        <p>Author: {{schedule.author}}</p>

        <form class="create-link" action="{% url 'toca_schedule:delete' job_id=schedule.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <form class="create-link" action="{% url 'toca_schedule:list' %}" method="post" style="padding-top: 10px; padding-bottom: 10px">
            {% csrf_token %}
            <button type="submit" class="btn btn-default">Schedule List</button>
        </form>

    </div>
</div>

{% endblock %}