{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Schedule List</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class='container-fluid'>
            <div class="row">
                <div class="col-md-12" style="padding:0;">
                    <nav class="navbar navbar-default" style="background-color:rgb(255,255,255); border-radius: 0;">
                        <div class="container-fluid">
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                </ul>
                                <ul>
                                    <li class="nav navbar-nav navbar-right" style="padding-top:12px;">
                                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-primary" type="submit">Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style="padding:0;">
                </div>
            </div>
        </div>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>

    <script>$('#myModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            })
    </script>
    </body>
</html>